*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.wrapper {
  background-color: #75feee;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100vh;
}

.radio__box-outer {
  width: 670px;
  height: 400px;
  background-color: white;
  border-radius: 30px 0 0 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 70px;
}

.radio__box-inner {
  display: flex;
  align-items: center;
  height: 100%;
}

.input-labels {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  margin-left: 30px;
}

.input-labels__label {
  font-size: 50px;
}

.radiobuttons {
  height: 200px;
  width: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 70px;
  overflow: hidden;
  position: relative;
}

.native-radio-button {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.radio-fake {
  position: relative;
  z-index: 7;
  display: block;
  width: 100%;
  height: 70px;
  border-radius: 50%;
  transition: all 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.radio-fake--checked {
  background-color: #47c1b3;
}

.radio-fake--unchecked {
  background-color: #daf2ef;
}

.background-animate {
  position: absolute;
  width: 70px;
  height: 70px;
}

.background-animate--checked {
  left: 0;
  bottom: -100px;
  background-color: #47c1b3;
}

.background-animate--unchecked {
  left: 0;
  bottom: -100px;
  background-color: #daf2ef;
}

.background-animate--delayedchecked {
  left: 0;
  top: -100px;
  background-color: #47c1b3;
}

.background-animate--delayedunchecked {
  left: 0;
  top: -100px;
  background-color: #daf2ef;
}

.indicator {
  width: 30px;
  height: 30px;
  background-color: rgba(218, 242, 239, 0);
  box-shadow: 0 0 0 0 rgba(218, 242, 239, 0);
  opacity: 0.7;
  border-radius: 50%;
  position: absolute;
  z-index: 7;
  transform: translate(-50%, -50%);
  pointer-events: none;
  animation: pulse 1s forwards;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(218, 242, 239, 0.7);
  }
  70% {
    box-shadow: 0 0 0 100px rgba(218, 242, 239, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(218, 242, 239, 0);
  }
}

@keyframes fill {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(7);
  }
  100% {
    transform: scale(1);
  }
}
